{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>{% block head_title %} d3$tinn3 {% endblock %}</title>
    {% include 'head/css.html' %} 
</head>
<body>
    <div>
    {% block content %}{% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <script src="https://unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
	<script src="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"></script>
	<script src="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.6/lottie.min.js"></script>


    <script>
		//Init tooltips
		tippy('.link',{
		  placement: 'bottom'
		})

		//Toggle mode
		const toggle = document.querySelector('.js-change-theme');
		const body = document.querySelector('body');
		const profile = document.getElementById('profile');
		
		
		toggle.addEventListener('click', () => {

		  if (body.classList.contains('text-gray-900')) {
			toggle.innerHTML = "☀️";
			body.classList.remove('text-gray-900');
			body.classList.add('text-gray-100');
			profile.classList.remove('bg-white');
			profile.classList.add('bg-gray-900');
		  } else
		  {
			toggle.innerHTML = "🌙";
			body.classList.remove('text-gray-100');
			body.classList.add('text-gray-900');
			profile.classList.remove('bg-gray-900');			
			profile.classList.add('bg-white');
			
		  }
		});
		
    </script>
	<script>
		// Initialize the Lottie animation
		const animation = bodymovin.loadAnimation({
		  container: document.getElementById('animationContainer'),
		  renderer: 'svg',
		  loop: true,
		  autoplay: true,
		  path: 'static/media/animation2.json' // Replace with the path to your animation JSON file
		});
		// Initialize the second  Lottie animation
		const animation = bodymovin.loadAnimation({
		  container: document.getElementById('animationContainer2'),
		  renderer: 'svg',
		  loop: true,
		  autoplay: true,
		  path: 'static/media/animation2.json' // Replace with the path to your animation JSON file
		});
	</script>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
		  // Initialize the Lottie animation
		  const animation = bodymovin.loadAnimation({
			container: document.getElementById('animation'),
			renderer: 'svg',
			loop: true,
			autoplay: true,
			path: 'static/media/hand.json' // Replace with the path to your animation JSON file
		  });
		});
	</script>
</body>
</html>
    