{% extends 'base.html' %}

{% block content %}
    <div class="animation-container">
      <div id="animationContainer"></div>
    </div>
    <div class="bg-gradient-to-r from-black-400 via-black-300 to-black-800 flex h-screen justify-center items-center text-white">
      <div class="max-w-3xl mx-auto text-center">
        <h1 class="text-4xl sm:text-5xl font-extrabold text-gray-800 leading-tight mb-4">d3$tinn3</h1>
        <p class="text-lg text-gray-600 mb-8">Powered by d3$tinn3</p>
        <a class="inline-block bg-blue-500 hover:bg-blue-600 text-white font-semibold py-3 px-6 rounded" href="{% url 'profile' %}">Get Started</a>
      </div>
    </div>
{% endblock content %}